
<div class="">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="images/profile.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						James
					</div>
					
				</div>
				
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<hr />
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							destinations </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							my Trips </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9" style="padding-left: 0px;">
            <div class="profile-content col-md-9">
            	<div style="width: 100%" class="col-md-12">
            		<img style="width: 100%; height: 300px" src="images/distination.png">
<!--             	<div class="float-on-image btn img-btn">ideal <br />for<i></i></div> -->
            	    <div class="float-text-full">kerala<i></i></div>
                </div>
            	<div class="blue-text">
            		<h3><br />Kerala</h3>
            		<p> Lorem Lpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Lpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy. Lorem Lpsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
            	</div>
            	<div class="border-1px">
            		<div>
		            	<ul class="list-group planlist">
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
			  				<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
							<li class="list-group-item">plan</li>
						</ul> 
            		</div>
            		<div class="border-1px">
	            		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 thumb">
	                        <a class="thumbnail" href="#">
	                            <img class="img-responsive" src="http://placehold.it/600x400" alt="">
	                            <div class="float-on-image btn img-btn">ideal <br />for<i></i></div>
	                            <div class="float-text">kerala<i></i></div>
	                        </a>
	                    </div>
	                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 thumb">
	                        <a class="thumbnail" href="#">
	                            <img class="img-responsive" src="http://placehold.it/600x400" alt="">
	                            <div class="float-on-image btn img-btn">ideal <br />for<i></i></div>
	                            <div class="float-text">kerala<i></i></div>
	                        </a>
	                    </div>
	                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 thumb">
	                        <a class="thumbnail" href="#">                   
	                        	<img class="img-responsive" src="http://placehold.it/600x400" alt="">
	                            <div class="float-on-image btn img-btn">ideal <br />for<i></i></div>
	                            <div class="float-text">kerala<i></i></div>
	                        </a>
	                    </div>
	                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 thumb">
	                        <a class="thumbnail" href="#">
	                            <img class="img-responsive" src="http://placehold.it/600x400" alt="">
	                            <div class="float-on-image btn img-btn">ideal <br />for<i></i></div>
	                            <div class="float-text">kerala<i></i></div>
	                        </a>
	                    </div>
            		</div>
            	</div>

            </div>
            <div class="col-md-3" style="background-color: #e1eef4;">
            	<div style=" height: 100%"></div>
            </div>
            
        </div>
    </div>
</div>
