<div class="pageBody col-md-12">
  <section id="section1">

    <h3>ExtraOrdinary<br />experiences,<br />designed<br />just for you</h3>

    <br>
    <br>
    <br>
    <span>
      <a ng-href=""><button class="btn btn1"><i class="fa">&#xf105;</i>  Get Matched Travel Specialists</button></a>
    </span>
  </section>
  <div class="col-md-1"></div>
<div class="col-md-10 imaged card">
  <div class="card-block">
<form class="" role="search">
        <div class="col-md-1"></div>
        <div class="col-md-10 input-group" style="margin-top: 15px">
            <input type="text" class="form-control" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
  </div>
</div>
  <div class="col-md-1"></div>
  <section class="col-md-12" id="section2">
    <div class="sectionHeadingOuter">
      <h3 class="logofooter">Vistayo help you to get 100% customised holiday packages, at best prices</h3><br>
      <p class="link-text">Vistayo is an exclusive invite only travel community, designed for those who truely enjoy travel</p>
    </div>
    <br />
  </section>
  <hr>
  <section id="section3">
    <div class="row sectionHeadingOuter">
      <div class="col-md-4 col-sm-12" class="margin-top: 10px; border-right: 10px solid #a0a3a4">
        <h3 class="logofooter">How It Works</h3><br>
         <!-- <video autoplay>
          <source src="https://www.youtube.com/watch?v=sgnO5fO46pE" type="video/mp4">
        </video>  -->
        <iframe src="https://www.youtube.com/watch?v=sgnO5fO46pE"
            class="col-md-10 col-sm-10" frameborder="0" allowfullscreen></iframe>
      </div>
      <div class="col-md-8 col-sm-12">
      <h3 class="logofooter">Vistayo Advantages</h3><br>
        <div class="row" style="text-align: left">
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div><i class="fa fa-money fa-5" style="color: #e87706" aria-hidden="true"></i></div>
            <div><h4 class="logofooter">Direct Prices</h4></div>
            <div><p class="link-text">100% tailor made package at best price</p></div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>

  </section>




</div>



<style>
  .imaged {
    margin: 0px;text-align: center;min-height: 70px; box-shadow: 3px 5px 5px #888888;
    margin-top: -35px; margin-bottom: -35px; z-index: 10000; position: relative;
  }
  a:hover {
    text-decoration: none;
  }


  .pageBody{
    position: relative;
    margin-top: 38px;
  }
  section{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  #section1{
    background-color: black;
    height: 410px;
    padding-top: 9%;
    color: white;     

  }
  .btn1{
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: black;
    min-width: 120px;
    text-align: center;
  }

  #section2{
    padding-top: 10%;
    background-color: #e1eef4;
  }
  .sectionHeadingOuter{
    text-align: center;
  }
  .sectionHeading {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    color: grey;
    margin: 0 auto;
  }
  .sectionHeading:before{
    content: "";
    position: absolute;
    width: 64%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 2px solid #6699cc;
  }

  .card > .card-img-top {
    margin-top: 16px;
    min-height: 64px;
    min-width: 64px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .card > .card-title{
    text-align: center;
    font-size: 15px;
    margin-top: 8px;
  }
  
  .card{
    /*border: none;*/
    background-color: white;
    border-radius: 10px;
  }

  .suggestions {
    padding: 16px;
    height: 160px;
    width: 160px;
  }

  .cardunselected:hover {
    box-shadow: 0 4px 8px 0 #6699cc, 0 4px 8px 0 #6699cc;
  }

  .cardselected {
    -moz-box-shadow:    inset 0 0 10px #6699cc;
    -webkit-box-shadow: inset 0 0 10px #6699cc;
    box-shadow:         inset 0 0 10px #6699cc;
  }





  #section3 > .container{
    padding-left: 10%;
  }

  #section4{
    background-color: lightblue;
    color: white;
  }

  .section4Heading {
    font-weight: 300;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    color: grey;
  }
  .section4Heading:before{
    content: "";
    position: absolute;
    width: 64%;
    height: 1px;
    bottom: 0;
    left: 0%;
    border-bottom: 2px solid #6699cc;
  }

  .section4Button{
    border-color: white;
    background-color: lightblue;
    color: white;
  } 




  .card > .card-title2{
    text-align: center;
    font-size: 16px;
    margin-top: 8px;
  }

  .card > .card-body2{
    text-align: center;
    font-size: 14px;
  }

  #section6{
    background-color: lightblue;
    color: white;
    padding-top: 32px;
    padding-bottom: 32px; 
  }

  .dabba{
    overflow-y: auto;
    float: left;
    height: 400px;
    width: 20%;
    border: 2px solid black;
  }

  .dabba1{
    float: right;
    overflow-y: auto;
    height: 400px;
    width: 80%;
    border: 2px solid black;
  }

</style>