
<div class="">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="images/profile.png" class="img-responsive" alt="">
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						James
					</div>
					
				</div>
				
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="#">
							<i class="glyphicon glyphicon-home"></i>
							Overview </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-user"></i>
							Account Settings </a>
						</li>
						<hr />
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							destinations </a>
						</li>
						<li>
							<a href="#" target="_blank">
							<i class="glyphicon glyphicon-ok"></i>
							my Trips </a>
						</li>
						<li>
							<a href="#">
							<i class="glyphicon glyphicon-flag"></i>
							Help </a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>
		<div class="col-md-9" style="padding-left: 0px;">
            <div class="profile-content col-md-12">
            	<div style="border-radius: 0px;" class="card text-center">
				  <div style="border-radius: 0px;" class="card-header card-header-grey blue-text">
				    Personal Info
				  </div>
				  <!-- <div style="border-radius: 0px;" class="card-block"> -->
				    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
				    <div class="grey-text row card-block">
				    	<div class="col-md-3 card-div">
				    		<p >Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    	<div class="col-md-3 card-div">
				    		<p>Name</p>
				    		<p class="blue-text"> Kavya</p>
				    	</div>
				    </div>
				  <!-- </div> -->
<!-- 				  <div class="card-footer text-muted">
				    2 days ago
				  </div> -->
				</div>
				<div style="border-radius: 0px;" class="card text-center">
				  <div style="border-radius: 0px;" class="card-header card-header-grey blue-text">
				    Personal Info
				  </div>
				  <div class="blue-text card-block row">
				  <div class="col-md-offset-3 col-md-6">
					<div style="border-radius: 0px;" class="card text-center">
					  <!-- <div style="border-radius: 0px;" class="card-header card-header-grey blue-text">
					    Personal Info
					  </div> -->
					  <div class="grey-text row card-block">
					  	<table class="table table-striped">
						    <thead>
						      <tr>
						        <th>Firstname</th>
						        <th>Lastname</th>
						        <th>Email</th>
						      </tr>
						    </thead>
						    <tbody>
						      <tr>
						        <td>John</td>
						        <td>Doe</td>
						        <td>john@example.com</td>
						      </tr>
						      <tr>
						        <td>Mary</td>
						        <td>Moe</td>
						        <td>mary@example.com</td>
						      </tr>
						      <tr>
						        <td>July</td>
						        <td>Dooley</td>
						        <td>july@example.com</td>
						      </tr>
						    </tbody>
						  </table>
					  </div>
					</div>
					</div>
				</div>
            </div>
        </div>
        <div class="border-1px">
        	
        </div>
        </div>
    <script type="text/javascript">
        $(function() {              
           // Bootstrap DateTimePicker v4
           $('#startdate').datetimepicker({
                 format: 'DD/MM/YYYY'
           });
           $('#enddate').datetimepicker({
                 format: 'DD/MM/YYYY'
           });
        });      
    </script>
</div>
